Flask
Flask-Cors
Flask-Session
requests
textblob
langchain
langchain-pinecone
langchain-nvidia-ai-endpoints
langchain-community
pinecone-client
openai
python-dotenv
google-search-results
sentence-transformers